
SECRET_KEY=MY_SUPER_MEGA_HYPER_SECRET_KEY
ALGORITHM=HS256
ACCESS_TOKEN_EXPIRE=15

MONGO_URL=mongodb+srv://{username}:{password}@cluster0.mongodb.net/{database}?retryWrites=true&w=majority&appName={appname}

OWNER_PASSWORD=theownerpassword123
MAINTAINER_PASSWORD=themaintainerpassword123

LOGGING_FILE=logs/audit.log
